<div class="alert alert-{{flash}} fade in">
	 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  	<span aria-hidden="true">&times;</span>
	</button>
	<strong>{{text}}</strong>
</div>