{{navigation-page}}
<div id="contain-main" class="page--on_index">
	<div class="contain">
		{{index-component gotoPageCategory='gotoPageCategory' gotoPageItem='gotoPageItem'  categories=model.categories metaCategory=model.categories.store.meta items=model.items metaItem=model.metaItem getItems='getItems' categoryId=model.categoryId}}
	</div>
</div>

