a
 text-decoration none !important
#mainContain
	max-width 1170px
	margin auto
.contain
	max-width 960px
	margin auto
.number
	text-align right
.center
	text-align center	
		
						
.faIcon
	font-size 17px	
	display inline-block
	vertical-align middle
	margin-left 10px
.table-list
	td
		.faIcon:fist-child
			margin-left 0
	th
			text-align center			
	
.createButton
	text-align right
	margin-bottom 20px	
.pdTopFa
	padding-top 
.display
	display inline
.hide
	display none		
.pagination
	margin-top 0px
	margin-bottom 0px 	
.modal 
    overflow-y scroll !important
    overflow-x hide !important    

	